{% extends 'module001_base.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li><a href={{url_for('module001.module001_index')}}>Home</a></li>
              <li><a href={{url_for('module001.module001_course')}}>Create</a></li>
              <li><a href={{url_for('module001.module001_follow')}}>Following</a></li>
              <li><a href={{url_for('module001.module001_participation_generate')}}>Participation</a></li>
              <li><a href={{url_for('module001.module001_participation_redeem')}}>Redeemed</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <form class="form-signin" method="POST" action="{{url_for('module001.module001_course')}}">
        <h2 class="form-signin-heading"> Course / Institution </h2>
        {{ form.hidden_tag() }}
    	{{ wtf.form_field(form.id,readonly="readonly") }}
    	{{ wtf.form_field(form.name) }}
    	{{ wtf.form_field(form.institution_name) }}
    	{{ wtf.form_field(form.code,readonly="readonly") }}

       <button class="btn btn-lg btn-primary btn-block" type="submit"> Create or Update library </button>
       </form>

    <br>
      <div class="table-responsive">
        <table id="myTable" class="table table-striped">
          <thead>
            <tr>
              <th>Edit</th>
              <th>Grades</th>
              <th>Share Code</th>
              <th>Institution Name</th>
              <th>User id</th>
              <th>Date Created</th>
              <th>Date Modified</th>

            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
               <td> <a><form action="{{url_for('module001.module001_course')}}" method="GET">
                   <input type="submit" value={{ row.id }} name="rowid">
               </form> </a></td>

               <td> <a><form action="" method="GET">
                   <input type="hidden" value={{ row.id }} name="rowid">
                   <input type="submit" value={{ row.name }} name="coursename">
               </form> </a></td>

               <td> <a><form action="{{url_for('module001.module001_sharing_details')}}" method="GET">
                   <input type="hidden" value={{ row.id }} name="rowid">
                   <input type="hidden" value="course" name="itemtype">
                   <input type="submit" value={{ row.code }} name="code">
               </form> </a></td>

                <td>{{ row.institution_name }}</td>

                <td> <a><form action="/profile" method="GET">
                   <input type="submit" value={{ row.user_id }} name="rowid">
               </form> </a></td>
                <td>{{ row.date_created }}</td>
                <td>{{ row.date_modified }}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}