{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li><a href={{url_for('module001.module001_index')}}>Home</a></li>
              <li><a href={{url_for('module001.module001_course')}}>Create</a></li>
              <li><a href={{url_for('module001.module001_follow')}}>Following</a></li>
              <li><a href={{url_for('module001.module001_participation_generate')}}>Participation</a></li>
              <li><a href={{url_for('module001.module001_participation_redeem')}}>Redeemed</a></li>

          </ul>
        </div>
      </div>
    </div>
{% endblock %}