{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li><a href={{url_for('module001.module001_index')}}>Home</a></li>
              <li><a href={{url_for('module001.module001_course')}}>Create</a></li>
              <li><a href={{url_for('module001.module001_follow')}}>Following</a></li>
              <li><a href={{url_for('module001.module001_participation_generate')}}>Participation</a></li>
              <li><a href={{url_for('module001.module001_participation_redeem')}}>Redeemed</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">

        {% if unfollow %}
           <form class="form-signin" method="POST" action="{{url_for('module001.module001_participation_redeem_delete')}}">
            {{ form.hidden_tag() }}
        	{{ wtf.form_field(form.code) }}
             <button class="btn btn-lg btn-warning btn-block" type="submit">Remove</button>
           </form>
          </form>
        {% else %}
           <form class="form-signin" method="POST" action="{{url_for('module001.module001_participation_redeem')}}">
            {{ form.hidden_tag() }}
        	{{ wtf.form_field(form.code) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit"> Redeem </button>
           </form>
        {% endif %}

        <br>
          <div class="table-responsive">
            <table id="myTable" class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Participation Code</th>
                  <th>Description</th>
                  <th>Course Name</th>
                  <th>Institution Name</th>
                  <th>Date Created</th>
                  <th>Date Modified</th>
                </tr>
              </thead>
              <tbody>
                {% for row in rows %}
                <tr>

                   <td> <a><form action="{{url_for('module001.module001_participation_redeem')}}" method="GET">
                       <input type="submit" value={{ row.id }} name="rowid">
                   </form> </a></td>

                    <td>{{ row.participation_code }}</td>
                    <td>{{ row.code_description }}</td>
                    <td>{{ row.course_name }}</td>
                    <td>{{ row.institution_name }}</td>

                    <td>{{ row.date_created }}</td>
                    <td>{{ row.date_modified }}</td>


                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

    </div>
{% endblock %}