{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}



<div class="container">
    {%if posts %}
    {%for post in posts %}
        <h4 class="h4">{{usernames[loop.index0].username}}</h4>
        <h6 class = "h6">{{post.date_created}}:</h6>


        <blockquote class="blockquote text-center">
            <p>{{post.post}}</p>
        </blockquote>

    {% endfor %}
    {% endif %}

    <form class="form-signin" methods=["POST", "GET"] action="{{url_for('module002.module002_index')}}">
        <h2 class="form-signin-heading"> Post </h2>

    </form>
    {{ wtf.quick_form(form) }}
</div>




{% endblock %}