{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
      <form class="form-signin" method="POST" action="{{url_for('changepassword')}}">
        <h2 class="form-signin-heading"> Recover Password </h2>
        {{ form.hidden_tag() }}
    	{{ wtf.form_field(form.email) }}
    	{{ wtf.form_field(form.password) }}
    	{{ wtf.form_field(form.confirm_password) }}
       <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign Up </button>
   </form>
{% endblock %}