<p> Hi  <b>{{user.username}}</b> you have requested to change your password. </p>
<p> Please <a href="http://{{base_url}}/confirmpassword/{{user.username}}/{{user.userhash}}/{{newpassword}}"> click here </a>
to confirm your new password. </p>

----

<p>Hola <b>{{ user.username }}</b> usted a pedido un cambio en su contraseña.</p>
<p> Por favor <a href="http://{{base_url}}/confirmpassword/{{user.username}}/{{user.userhash}}/{{newpassword}}">pinchar aqui</a>
para confirmar su nueva contraseña. </p>
