{% extends 'module003_index.html' %}

{% block main %}
    <div class="container">
      <form class="form-signin" method="POST" action="{{url_for('module003.module003_tasks')}}">
        <h2 class="form-signin-heading"> Tasks </h2>
        {{ form.hidden_tag() }}
    	{{ wtf.form_field(form.id,readonly="readonly") }}
    	{{ wtf.form_field(form.name) }}
    	{{ wtf.form_field(form.description) }}
    	{{ wtf.form_field(form.course_id) }}
    	{{ wtf.form_field(form.date_limit) }}

       <button class="btn btn-lg btn-primary btn-block" type="submit"> Create or Update library </button>
       </form>

    <br>
      <div class="table-responsive">
        <table id="myTable" class="table table-striped">
          <thead>
            <tr>
              <th>Edit</th>
              <th>Course</th>
              <th>Name</th>
              <th>Description</th>
              <th>Date Limit</th>
              <th>Attempts</th>
              <th>Date Created</th>
              <th>Date Modified</th>

            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
               <td> <a><form action="{{url_for('module003.module003_tasks')}}" method="GET">
                   <input type="submit" value={{ row.id }} name="rowid">
               </form> </a></td>
               <td><a><form action="/course/course" method="GET">
                <input type="hidden" value={{ row.course_id }} name="rowid">
                <input type="submit" value="{{ row.course_name }}" name="taskcourse">
                </form> </a></td>
               <td> <a><form action="" method="GET">
                   <input type="hidden" value={{ row.id }} name="rowid">
                   <input type="submit" value={{ row.name }} name="taskname">
               </form> </a></td>
                <td>{{ row.description }}</td>

                <td>{{ row.date_limit }}</td>
                <td><a><form action="" method="GET">
                  <input type="hidden" value={{ row.id }} name="rowid">
                  <input type="submit" value="View Attempts" name="taskattempts">
                </form> </a></td>
                <td>{{ row.date_created }}</td>
                <td>{{ row.date_modified }}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}